#map-canvas { 
    height: 550px;
}

#map-canvas-voter {
    height: 300px;
}

#precinct-list-shown {
    height: 400px;
    overflow-y: scroll;
}

.bold {
    font-weight: bold;
}

.voter-table-content {
    height: 550px;
    overflow: auto;
}


.voter_highlight {
    background-color: #B3B3B3;
}

