{% load static %}
{% if precinct_objs %}
<h4>List of Precincts</h4>
<div id="precinct-list-shown"> 
<ul>
    {% for precinct in precinct_objs %}
    {% if precinct.color == "#FFFFFF" %}
    <li class="individual-precinct" precinct-name="{{ precinct.name }}"coord-lat="{{ precinct.coord_lat }}" coord-lng="{{ precinct.coord_lng }}" coord-alt="{{ precinct.coord_alt }}" style="color: #000000;">{{ precinct.name }}</li>
    {% else %}
    <li class="individual-precinct" precinct-name="{{ precinct.name }}"coord-lat="{{ precinct.coord_lat }}" coord-lng="{{ precinct.coord_lng }}" coord-alt="{{ precinct.coord_alt }}" style="color: {{ precinct.color }};">{{ precinct.name }}</li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
